body {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #f8f8ff;
  text-align: center;
  background-color: #0f172a;
  background-image:
    linear-gradient(to bottom, rgb(15 23 42 / 90%), rgb(15 23 42 / 40%)),
    url("https://picsum.photos/id/10/1000/1000");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-attachment: fixed;
}

h1 {
  font-size: 4em;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 10px;
  text-decoration: none;
  /*text-shadow : 5px 5px 0px rgb(215 215 215 /10%);*/
  background-image: linear-gradient(
    to right,
    rgb(59, 160, 233) 30%,
    rgb(238, 80, 233)
  );
  background-clip: text;
  color: transparent;
  /* effect glowing bayang dibelakang tulisan*/
  filter: drop-shadow(0 0 10px rgb(102, 222, 249, 0.5));
}

.quote {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  color: #f8f8ff;
  text-align: center;
  line-height: 2.2;
  word-spacing: 5px;
  background-color: rgb(255 255 255 / 5%);
  max-width: 1000px;
  margin: auto;
  padding: 40px;
  border-radius: 20px;
  border: 1px solid rgb(255 255 255 / 10%);
  box-shadow: 0 10px 30px rgb(0 0 0 / 50%);
}

.credit {
  font-size: 50px;
  color: rgb(166 162 162/ 70%);
  letter-spacing: 2px;
  font-family: "Caveat", cursive;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid rgb(255 255 255 / 10%);
  width: 30%;
  margin: 30px auto;
  padding-top: 20px;
}

span {
  font-weight: bold;
  text-decoration: none;
  font-style: italic;
  color: crimson;
  text-shadow: 0 0 10px rgb(220 20 89);
}
