body {
  background-color: black;
}


h1 {
  font-size: 48px;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 10px;
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #435272;
  text-shadow : 5px 5px 0px rgb(215 215 215 /10%);
  text-decoration-skip-ink:none;
  font-family: 'Fugaz One', cursive;
  color: #38BAF4;
  text-align: center;
  }

.quote {
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  color: #f8f8ff;
  text-align: center;
  line-height: 2.2;
  word-spacing: 5px;
}

.credit {
  font-size: 50px;
  color: rgb(166 162 162/ 70%);
  letter-spacing: 2px;
  font-family: "Caveat", cursive;
  text-align: center;

}

span {
  font-weight: bold;
  font-style: italic;
  color: crimson;
}